{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Inscription au Site du Troubadour{% endblock %}

{% block content %}
	<h1>Ze veux devenir un Troubadour !</h1>

	{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}