{% extends "SdtCoreBundle::layout.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
	<h1>Mentions Légales</h1>

	<div class="bloc">
        <div class="title">
            <h2>Mentions Légales</h2>
        </div>
        <div class="content">
        	<h3>Données personnelles</h3>

			<p>
				Le Site du Troubadour recueille des informations (login, e-mail) lors de votre enregistrement en tant que membre du site. Lors de votre connexion au site, un fichier "log" stocke les actions effectuées par votre ordinateur (via son adresse IP) au serveur.<br />
				Lorsque que vous vous connectez en tant que membre du Site du Troubadour et que vous cochez la case correspondante, un cookie est envoyé à votre ordinateur afin qu'il se souvienne de votre login et de votre mot de passe. Ceci vous est proposé uniquement afin d'automatiser la procédure de connexion, et n'est en aucun cas utilisé par l'équipe du Site du Troubadour à d'autres fins.
			</p>

			<p>
				Le Site du Troubadour et nos partenaires publicitaires peuvent par ailleurs être amenés à faire usage de cookies et de l'âge, si indiqué sur le profil du membre inscrit, afin cette fois d'optimiser le ciblage et la rotation des bannières. Ces informations sont utilisées uniquement à des fins statistiques et de ciblage et ne sont en aucun cas stockées et utilisées ultérieurement par nos partenaires.
			</p>

			<h3>Loi Informatique et Libertés</h3>

			<p>
				Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données nominatives qui vous concernent (art. 34 de la loi "Informatique et Libertés" du 6 janvier 1978).
				Pour exercer ce droit, vous pouvez utiliser le <a href="{{ path('contact') }}">formulaire de contact</a>.
			</p>

			<p>
				Dans ce cas, veillez à bien préciser le nom du compte concerné ainsi que son mot de passe afin que nous puissions vérifier que vous en êtes bien le propriétaire.
			</p>

			<p>
				L'équipe du Site du Troubadour peut être amené à conserver et utiliser les adresses IP des utilisateurs pour une identification ultérieure si la demande en est faite par une autorité judiciaire, de police, ou toute autorité habilitée par la loi.
			</p>

			<h3>Les tutoriels</h3>

			<p>
				Les tutoriels du Site du Troubadour appartiennent à leurs auteurs respectifs, sauf mention contraire. Ceux-ci sont soumis à une licence indiquée au début de chaque tutoriel.<br />
				Si aucune licence n'est indiquée, cela signifie que tous les droits sont réservés par l'auteur et que par conséquent celui-ci n'en autorise pas la copie.<br />
				Si vous souhaitez reproduire partiellement ou totalement un tutoriel, vérifiez par conséquent avant toute chose que la licence du tutoriel le permet.
			</p>

			<p>
				Si vous rédigez des tutoriels, vous acceptez que le Site du Troubadour diffuse de la publicité sur les pages concernées afin de subvenir à ses frais de fonctionnement, et ce même si vous choisissez une licence de type "NC" (Non Commercial).<br />
				Vous acceptez en outre, quelle que soit la licence, que l'équipe du Site du Troubadour modifie votre tutoriel à tout moment, et ce à des fins de corrections orthographiques et grammaticales uniquement.
			</p>

			<h3>Les actualités</h3>

			<p>
				Les membres peuvent rédiger des actualités (news). Celles-ci sont publiées sous licence <a href="http://creativecommons.org/licenses/by-sa/2.0/fr/">Creative Commons BY-SA</a>. D'autres membres ainsi que l'équipe du site peuvent être amenés à en modifier le contenu afin d'améliorer l'orthographe ou de compléter certaines parties.<br />
				L'équipe se réserve le droit de décider si une news peut être publiée ou non sur la page d'accueil à tout moment. Les membres peuvent voter pour une actualité afin d'encourager l'équipe à la publier.
			</p>

			<h3>Règlement du Site du Troubadour</h3>

			<p>
				Le Site du Troubadour est <strong>un site communautaire basé sur l'entraide</strong>. Comme dans toute communauté, il y a certaines règles à respecter afin que tout le monde puisse bien s'entendre.<br />
				Vous trouverez les règles du Site du Troubadour ci-dessous. Si vous voulez devenir membre du site (et le rester !), vous devez les respecter.
			</p>

			<ol>
				<li>
					Vous devez respecter des <strong>règles élémentaires de politesse</strong>. Un sujet doit commencer par un "Bonjour", et se terminer par une formule de politesse comme "Merci d'avance".<br />
					<em>Incorrect : "Je vois pas comment différencier un phaser d'un chorus, vous pouvez pas me l'expliquer ?"</em><br />
					<em>Correct : "Bonjour, je n'arrive pas à différencier l'effet de phaser au chorus, quel différences il y a t'il entre ces 2 effets ? Merci d'avance !"</em>
					<br />
					<br />
				</li>

				<li>
					Quel que soit le sujet, <strong>vous ne devez pas en venir aux insultes</strong>. Si vous avez un différend à régler, faites-le en utilisant le système de messagerie privée. Si un membre vous ennuie trop, vous pouvez le bloquer dans votre options membres.
					<br />
					<br />
				</li>

				<li>
					Vous devez <strong>écrire avec une orthographe convenable</strong>. Respectez ceux qui liront vos messages, faites l'effort de les écrire correctement. Les excuses du type "Ouais je ne fais pas attention j'écris vite" ne seront PAS admises. Par conséquent, les messages écrits en "SMS" seront systématiquement supprimés.<br />
					<em>Incorrect : "le langage sms est interdi sur ceux cite donc tou les troubadour deverez i fèr atantion"</em>
					<em>Correct : "Le langage sms est interdit sur ce site, donc tous les Troubadours devraient y faire attention."</em>
					<br />
					<br />
				</li>

				<li>
					Avant de poster un nouveau sujet, <strong>vérifiez qu'il n'a pas été traité auparavant</strong>. Le Site du Troubadour vous propose un module de recherche puissant pour tout le site, servez-vous en ! Regardez si on n'a pas parlé de votre problème sur les forums avant, ou si la solution ne se trouve pas déjà dans un tutoriel !<br />
					Les autres Troubadours veulent bien vous aider, mais si votre problème est très souvent posé, ils finiront par en avoir marre de se répéter.
					<br />
					<br />
				</li> 

				<li>
					<strong>Les sujets à caractère illégal sont interdits</strong> et seront supprimés. Ces sujets incluent, sans s'y limiter, la pornographie, le racisme, le partage de contenus piratés ou illégales, ou encore la diffamation. Les modérateurs du site se réservent le droit de supprimer tout message qu'ils jugent illégal.
					<br />
					<br />
				</li>

				<li>
					Nous vous recommandons fortement d'<strong>éviter d'ouvrir des sujets portant à polémique</strong> (appelés "trolls"). Quelques exemples de trolls classiques à éviter : "Fender c'est mieux que Gibson", "Les Stratocasters c'est mieux que les Telecasters", "Muse c'est mieux que Radiohead", "Ableton c'est mieux que Cubase", "AC/DC c'est mieux que Metallica", "Cube c'est mieux que Matrix"... Si vous repérez un sujet à troll, avertissez les modérateurs via le lien prévu à cet effet mais ne postez pas afin de ne pas alimenter la discussion.
					<br />
					<br />
				</li>

				<li>
					<strong>Les modérateurs et les administrateurs sont seuls juges</strong>. Ce sont eux qui décident des topics qui doivent être fermés ou supprimés. Vous devez respecter leurs remarques, sans quoi vous pourriez être banni du site selon la gravité de votre faute.
					<br />
					<br />
				</li>

				<li>
					Quand un topic vous semble de nature provocatrice ou sujette à polémique, <strong>ne postez pas dedans</strong>. Vous alimenteriez la polémique et augmenteriez le problème en jouant le modérateur. Ce type de comportement est très mal vu par les modérateurs, ils sont donc très sévères sur ce point. Passez votre chemin, et, au besoin, signalez le topic à un modérateur avec la fonction "Avertir un modérateur". Mais ne postez surtout pas.<br />
					<em>Incorrect : "Oulah je sens que ce topic va mal se finir. Si j'étais modérateur, je l'aurais déjà fermé."</em>
					<em>Correct : Ne pas poster de message. Utiliser la fonction "Avertir un modérateur".</em>
					<br />
					<br />
				</li> 

				<li>
					Il est <strong>interdit de flooder</strong>. Cela signifie que vous ne devez pas poster plusieurs messages d'affilée. Utilisez la fonction "Editer mon message" si vous voulez changer son contenu.<br />
					Si votre message disparaît de la première page et que vous n'avez pas eu de réponses, vous avez le droit d'ajouter un message 24 heures plus tard pour le ramener en première page (on appelle cela "faire un UP"). Les modérateurs le tolèrent, mais à condition uniquement que 24h minimum se soient écoulées depuis votre dernier message.
					<br />
					<br />
				</li>

				<li>
					Il est strictement <strong>interdit de se créer plusieurs comptes</strong>. Si nous vous surprenons à utiliser plusieurs comptes pour vous-même, nous ferons tout notre possible pour vous bannir définitivement et totalement du site. C'est une faute extrêmement grave, qui peut même nous amener à vous interdire l'accès aux tutoriels si vous avez volontairement cherché à ennuyer des membres ou des modérateurs.
					<br />
					<br />
				</li>

				<li>
					Vous autorisez gratuitement l'équipe du SIte du Troubadour à publier à titre non exclusif sur le Site du Troubadour les cours dont vous garantissez ne contenir <strong>aucun emprunt</strong> à une autre œuvre de quelque nature que ce soit, qui serait susceptible d'engager la responsabilité de l'équipe du Site du Troubadour. Vous garantissez que la liste des auteurs indiquée au début des cours que vous publiez est exhaustive.
					<br />
					<br />
				</li>

				<li>
					Toute collecte automatisée des données présentes sur le site est strictement interdite.
					<br />
					<br />
				</li>

				<li>
					Toute publicité, pour son site web ou un groupe de musique par exemple, est interdite, sauf en cas d'accord préalable donné par un modérateur si le sujet est suffisamment bien présenté.
					<br />
					<br />
				</li>

				<li>
					La lecture des post-its signalés comme étant "A lire avant tout" sur les forums est obligatoire. Ils contiennent des règles spécifiques aux forums en question.
					<br />
					<br />
				</li>

				<li>
					En cas de différend avec un membre du site, qu'il fasse partie de l'équipe administrative ou pas, veuillez utiliser la messagerie privée (MP) pour discuter. Aucun règlement de compte en public sur les forums ne sera toléré. Contactez un supérieur (modérateur ou administrateur le cas échéant) en cas de débordement.
					<br />
					<br />
				</li>

				<li>
					Il est interdit de placer des images ou textes pouvant choquer ou remettre en cause la décision des modérateurs dans vos posts, signatures, avatars ou tout autre endroit sur le site. Les modérateurs se réservent le droit de supprimer ces éléments sans préavis.<br />
					Utilisez la messagerie privée du site si vous avez besoin de communiquer avec l'équipe.
					<br />
					<br />
				</li>

				<li>
					Toute forme de publicité ou de spam (message non sollicité) envoyé via la messagerie privée du site est rigoureusement interdite et sera passible de sanctions.
					<br />
					<br />
				</li>
			</ol>

			<h3>Sanctions applicables</h3>

			<p>
				Le pouvoir est donné à l'équipe du Site du Troubadour d'appliquer certaines sanctions aux membres si cela s'avère nécessaire. En voici la liste :
			</p>

			<ul>
				<li>
					<strong>Les pourcentages (%)</strong> : c'est la forme la plus simple d'avertissement. Chaque membre possède un compteur d'avertissement allant de 0 à 100 visible uniquement par les membres de l'équipe. Ce compteur est augmenté lors d'un manquement aux règles du site et diminué lorsque le membre sanctionné s'est calmé. Chaque augmentation ou diminution est enregistrée pour que l'équipe ait un suivi de chaque membre. Notez que des mesures plus sévères peuvent être prises bien avant qu'un membre ait atteint les 100% d'avertissement.
					<br />
					<br />
				</li>

				<li>
					<strong>La lecture seule</strong> : comme son nom l'indique, cette sanction vous empêche de poster des messages sur le site (sauf dans les MPs pour pouvoir vous expliquer avec la personne qui vous a sanctionné). Elle est généralement temporaire mais peut, dans des cas particuliers et graves, devenir permanente.
					<br />
					<br />
				</li>

				<li>
					<strong>Le bannissement</strong> : le bannissement consiste à bloquer entièrement l'accès au site à un membre. Cette sanction n'est appliquée que dans les cas les plus graves. Cette sanction peut être temporaire ou permanente selon la faute que vous avez commise.
					<br />
					<br />
				</li>
			</ul>
        </div>
    </div>
{% endblock %}